*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 30px auto;
}

#slideContainer {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.slides {
  position: relative;
}

.slide {
  display: none; 
}

.slide.show {
  display: block; 
}

.sliderBtn {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

.slides img{
  width: 100%;
  height: 500px;
}
